.comment-container{

    background-color:cyan;
    

}

.image-container{
   
    background-color:cyan;
    padding-top:20px;
    width:100%;
  
}
.image-container img{
    border-radius: 50%;
    width:10%;
    margin-left:-20px;
}
.comment-image-container{
    display: flex;
    background-color:black;
    border:2px solid lightgray;
    margin-top:4px;
    margin-bottom:5px;
    padding:2px;
    
}